.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  font-size: 2.5em;
  font-family: "Arial", sans-serif;
  color: white;
}

.text {
  transition: opacity 0.3s ease;
}

.icon-container {
  position: absolute;
  left: -100%;
  transition: left 0.5s ease;
}

.shopping-cart-icon {
  font-size: 4.5em;
  color: white;
}

.button:hover .text {
  opacity: 0;
}

.button:hover .icon-container {
  left: 50%;
  transform: translateX(-50%);
}