.footer {
    background-color: #007bff;
    color: #ecf0f1;
    padding: 40px 0; /* Adjust padding as needed */
    width: 100%; /* Ensure the footer spans the full width */
    margin-top: auto; /* Push footer to the bottom of the page */
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    
}

.footer-section {
    flex: 1;
    min-width: 200px;
    margin: 10px 20px;
}

.footer-section h4 {
    font-size: 18px;
    margin-bottom: 15px;
    color: #fff;
}

.footer-section p {
    font-size: 14px;
    line-height: 1.6;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #ecf0f1;
    text-decoration: none;
    font-size: 14px;
}

.footer-section ul li a:hover {
    color: #f1c40f;
}

.social-links a {
    display: block;
    color: #ecf0f1;
    text-decoration: none;
    font-size: 14px;
    margin-bottom: 10px;
}

.social-links a:hover {
    color: #f1c40f;
}

.footer-bottom {
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    border-top: 1px solid #fff;
    font-size: 14px;
    width: 100%; /* Ensure the bottom section spans the full width */

}